[submodule "pack/eddcode/start/ale"]
	path = pack/eddcode/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/eddcode/start/nerdtree"]
	path = pack/eddcode/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/nvim/opt/vim-hug-neovim-rpc"]
	path = pack/nvim/opt/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "pack/nvim/opt/nvim-yarp"]
	path = pack/nvim/opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "pack/theme/start/vim-airline"]
	path = pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/theme/start/vim-airline-themes"]
	path = pack/theme/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/eddcode/start/ctrlp.vim"]
	path = pack/eddcode/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/eddcode/start/coc.nvim"]
	path = pack/eddcode/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/start/gruvbox"]
	path = pack/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/theme/start/vim-devicons"]
	path = pack/theme/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/eddcode/start/coc.vim"]
	path = pack/eddcode/start/coc.vim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/eddcode/start/gitgutter"]
	path = pack/eddcode/start/gitgutter
	url = https://github.com/gitgutter/Vim.git
[submodule "pack/eddcode/start/vin-fugitive"]
	path = pack/eddcode/start/vin-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/eddcode/start/vim-closetag"]
	path = pack/eddcode/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "pack/eddcode/start/nerdtree-git"]
	path = pack/eddcode/start/nerdtree-git
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/eddcode/start/vim-fugitive.git"]
	path = pack/eddcode/start/vim-fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/eddcode/start/git-blame.git"]
	path = pack/eddcode/start/git-blame.git
	url = https://github.com/zivyangll/git-blame.vim.git
[submodule "pack/eddcode/start/fugitive.git"]
	path = pack/eddcode/start/fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/eddcode/start/editorconfig.vim"]
	path = pack/eddcode/start/editorconfig.vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/eddcode/start/dart-vim"]
	path = pack/eddcode/start/dart-vim
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "pack/theme/start/vim-elly"]
	path = pack/theme/start/vim-elly
	url = https://github.com/ulwlu/elly.vim.git
[submodule "pack/theme/start/dracula"]
	path = pack/theme/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/theme/start/vim-polyglot"]
	path = pack/theme/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/eddcode/start/vim-delve"]
	path = pack/eddcode/start/vim-delve
	url = https://github.com/sebdah/vim-delve
[submodule "pack/eddcode/start/identLine"]
	path = pack/eddcode/start/identLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/eddcode/start/identLine.git"]
	path = pack/eddcode/start/identLine.git
	url = https://github.com/Yggdroot/indentLine.git
