[submodule "pack/eddcode/start/ale"]
	path = pack/eddcode/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/eddcode/start/nerdtree"]
	path = pack/eddcode/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/eddcode/start/vim-devicons"]
	path = pack/eddcode/start/vim-devicons
	path = https://github.com/ryanoasis/vim-devicons
[submodule "pack/eddcode/start/vim-polyglot"]
	path = pack/eddcode/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/nvim/opt/vim-hug-neovim-rpc"]
	path = pack/nvim/opt/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "pack/nvim/opt/nvim-yarp"]
	path = pack/nvim/opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "pack/theme/start/vim-airline"]
	path = pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/theme/start/vim-airline-themes"]
	path = pack/theme/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/eddcode/start/ctrlp.vim"]
	path = pack/eddcode/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/eddcode/start/coc.nvim"]
	path = pack/eddcode/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/eddcode/start/emmet-vim"]
	path = pack/eddcode/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/theme/start/vim-devicons"]
	path = pack/theme/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/start/gruvbox"]
	path = pack/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
